* {
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
    color: #333;
    line-height: 1.5;
    height: 100%
}

main > * {
    padding: 10px 15px;
    margin: 0;
}

body {
    margin: 0;
    padding-bottom: 45px;
    position: relative;
    height: 100%;
}

nav, footer {
    background-color: #aaa;
    text-align: center;
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    height: 40px;
}

.filter {
    display: block;
    margin-bottom: 15px;
}

.tab__nav {
    padding: 0;
}

.tab__row, .table {
    list-style: none;
    text-align: left;
    padding-left: 0;
}

.tab {
    display: inline-block;
    font-size: 16px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    width: 115px;
}

.tab:hover {
    background-color: #666;
}

.tab.active {
    background-color: #eee;
    border-bottom: none;
}

.tile {
    border: 1px solid #333;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 5px 10px;
    display: flex;
}

.submission {
    align-items: center;
    flex-wrap: wrap;
}

.submission.expanded {
    align-items: flex-start;
}

.submission p {
    margin: 0 20px;
}

.publication {
    font-style: italic;
}

.circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.declined {
    background-color: firebrick;
}

.accepted {
    background-color: green;
}

.pending {
    background-color: dimgray;
}

.revise {
    background-color: moccasin;
}

.status {
    width: 100%;
    border: 1px solid #ddd;
    background: #ddd;
    padding: 10px;
    border-radius: 4px;
}

.title {
    font-weight: bold;
}

.status label {
    display: block;
}

.mark {
    margin-left: auto;
}

.userlist {
    text-align: left;
}

.userlist td, .userlist th {
    padding: 3px;
}

.userdata *:last-child {
    text-align: center;
}



